<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.bishe.photo.dao.PhotoDao">
	
	<insert id="save" parameterType="com.bishe.photo.entity.Photo">
	<selectKey resultType="int" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID() AS id
	</selectKey>
		insert into t_photo(name,photoUrl,belongId,userId)
			values(#{name,jdbcType=VARCHAR},#{photoUrl,jdbcType=VARCHAR},
			#{belongId,jdbcType=NUMERIC},#{userId,jdbcType=NUMERIC}) 
	</insert>
	
	<select id="findCommentByPhotoId" parameterType="int" resultType="com.bishe.photo.entity.Comment">
		select * from t_comment where photoId = #{id}
	</select>
	
	<select id="findVoteValueByPhotoId" parameterType="int" resultType="double">
		select TRUNCATE(avg(voteValue),1) as voteValue from t_vote where photoId = #{id}
		
	</select>
	
	<resultMap type="com.bishe.photo.entity.Photo" id="photoMap">
		<id column="id" property="id"/>
		<association property="voteValue" javaType="double" 
			column="id" select="findVoteValueByPhotoId">
			</association>
		<collection property="comments" javaType="java.util.ArrayList"
			ofType="com.bishe.photo.entity.Comment" column="id"
				select="findCommentByPhotoId">
		</collection>
	</resultMap>
	
	
	<select id="findAll" parameterType="int" resultMap="photoMap">
		select id,name,photoUrl,belongId 
		from t_photo where belongId=#{belongId,jdbcType=NUMERIC}
	</select>
	
	<select id="findById" parameterType="int" resultType="com.bishe.photo.entity.Photo">
		select id,name,photoUrl,belongId 
		from t_photo where id= #{id,jdbcType=NUMERIC}
	</select>
	
</mapper>